@page "/PossibleFakeFollowers"
<h2>Possible Fake Followers</h2>
@if (this.FollowersList != null && this.FollowersList.Count > 0)
{
    <div class="container-fluid">
        @foreach (var singleFollower in this.FollowersList)
        {
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <a href="@singleFollower.ProfileUrl" target="_blank">@singleFollower.Username</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Reasons Found</h5>
                    <p class="card-text">
                        <ul class="list-group">
                            @foreach (var singleReason in singleFollower.Reasons)
                            {
                                <li>@singleReason</li>
                            }
                        </ul>
                    </p>
                </div>
            </div>
        }
    </div>
}